
@{
    ViewBag.Title = "BookingConfirmed";
}

<h2>BookingConfirmed</h2>

<div class="container">
    <div class="text-center mb-4">
        <div class="icon-check">✔️</div>
        <h2>Booking Confirmed</h2>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Booking Details</h5>
            <p>Booking ID: <span id="bookingId">GUID</span></p>
            <p>Date Booked: <span id="dateBooked">DD/MM/YYYY</span></p>
            <p>Pick-Up Time: <span id="pickupTime">--:--</span></p>
            <p>Pick-Up Address: <span id="pickupAddress"></span></p>
        </div>
    </div>


    <div class="card mb-3">
        <div class="card-body text-center">
            <h5 class="card-title">Driver Details</h5>
            <img id="driverImage" src="https://via.placeholder.com/80" class="avatar mb-2" alt="Driver Image">
            <p>Driver Name: <span id="driverName"></span></p>
            <p>Phone Number: <span id="driverPhone"></span></p>
        </div>
    </div>


    <div class="card mb-3">
        <div class="card-body text-center">
            <h5 class="card-title">Ambulance Details</h5>
            <img src="https://cdn-icons-png.flaticon.com/512/2969/2969597.png" class="ambulance-icon mb-2" alt="Ambulance">
            <p>Ambulance Type: <span id="ambulanceType"></span></p>
            <p>Registration Number: <span id="registrationNumber"></span></p>
        </div>
    </div>

</div>