
    @model List<u23601711_HW1.Models.Service>
@{
    ViewBag.Title = "SelectService";
}


<h2>Select Service</h2>


<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var Service in Model)
        {


            <div class="col">
                <a href="@Url.Action("BookingForm", "Booking", new { ServiceId = Service.ServiceID })" class="text-decoration-none text-reset">

                    <div class="card h-100">
                        <img src="@Service.ServiceImage" class="card-img-top  img-fluid"  style="height: 100px; width: auto;" >
                        <div class="card-body">
                            <h5 class="card-title">@Service.ServiceName</h5>
                            <p class="card-text">@Service.ServiceDescription</p>
                        </div>
                    </div>
                </a>
            </div>
        }
        </div>
    
    </div>
       
          

